@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container{
    width: 100%;
    height: 100vh;
    padding: 64px 128px;
    overflow: auto;
}

.main-container section h1{
    margin: 48px 0 12px 0 ;
}

.main-container header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background: #eff4fb;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-container .arquitectura-container{
    margin: 64px auto;
    display: flex;
    justify-content: center;
}
.main-container header label {
    font-size: 13px;
    color: #242424;
    margin-right: 12px;
}
.main-container  section h2 {
    margin-top: 24px;
}
.main-container .description{
    width: 50%;
    text-align: justify;
    opacity: 0.7;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
	height: 32px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}
